.filter-head
	.container
		.row
			.col-md-12.col-lg-6
				h2.filter-head__title
					| Афиша
					.filter-head__tabs
						a.filter-head__tab(href="#")
							| события
						a.filter-head__tab(href="#")
							| площадки
						a.filter-head__tab(href="#")
							span.i-filter.filter-head__tab-icon
							| фильтр
			.col-md-12.col-lg-6
				.filter-head__small.affiche__subtitle
					a(href="#")
						| сегодня
					| , 
					a(href="#")
						| завтра
					| , 
					a(href="#")
						| на выходных

.filter-body
	.container
		.row
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/1.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Мираж ТРЦ «Мармелад»
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/2.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Киноцентр
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/3.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Театр малый
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/4.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Театр Драммы 
		.row
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/1.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Мираж ТРЦ «Мармелад»
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/2.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Киноцентр
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/3.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Театр малый
			.col-xs-12.col-sm-6.col-md-3
				.filter-body__item
					.filter-body__item-pr
						a(href="#")
							img(src="images/filter-body/4.jpg", alt="")
					.filter-body__item-desc
						a.filter-body__item-title(href="#")
							| Театр Драммы 
		.row
			.col-xs-12
				a.filter-body__more.btn__more(href="#")
					| Ещё

