.affiche-small.bg-dark
	.container
		.row
			.col-xs-12.col-lg-6
				.row
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/1.jpg", "1 марта в 16:00", "Прогулка", "-small")
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/2.jpg", "28 февраля в 17:00", "Лобстер", "-small")
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/3.jpg", "10 февраля в 22:00", "Убийца", "-small")

			.col-xs-12.col-lg-6
				.row
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/4.jpg", "11 февраля в 22:00", "Выживший")
					.col-xs-12.col-sm-8
						.affiche-small__item
							include calendar.jade

			.col-xs-12.col-lg-6
				.row
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/5.jpg", "10 февраля в 22:00", "Девочки хотят танцевать!")
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/6.jpg", "03 февраля в 22:00", "Презентация поэтического сборника ...")
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/7.jpg", "02 февраля в 22:00", "28 панфиловцев")
			
			.col-xs-12.col-lg-6
				.row
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/8.jpg", "11 февраля в 22:00", "Rock Ded Moroz 2016")
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/9.jpg", "28 февраля в 17:00", "DANCE ALL NIGHT")
					.col-xs-12.col-sm-4
						+affiche-item-small("affiche-small/10.jpg", "1 марта в 16:00", "Creative Gallery Dance Studio")
			.col-xs-12
				a.btn__more.btn__more-dark(href="#")
					| Ещё