.affiche
	.container
		.row
			.col-xs-12.col-sm-6
				h2.affiche__title
					| Афиша 
					br.visible-xs
					span.affiche__small
						| — 
						span.i-blue-calendar.affiche__icon
						| Календарь
			.col-xs-12.col-sm-6
				.affiche__small.text-right.affiche__subtitle
					a(href="#")
						| сегодня
					| , 
					a(href="#")
						| завтра
					| , 
					a(href="#")
						| на выходных
			.col-xs-12
				.row
					.affiche__items.carousel.carousel-affiche.js-affiche-slider
						+affiche-slide("affiche/1.jpg", "1 марта в 16:00", "Прогулка")
						+affiche-slide("affiche/2.jpg", "03 февраля в 22:00", "ДОН ЖУАН. Версия")
						+affiche-slide("affiche/3.jpg", "02 февраля в 22:00", "Группа «SPIRITUAL SEASONS»")

						+affiche-slide("affiche/1.jpg", "1 марта в 16:00", "Прогулка")
						+affiche-slide("affiche/2.jpg", "03 февраля в 22:00", "ДОН ЖУАН. Версия")
						+affiche-slide("affiche/3.jpg", "02 февраля в 22:00", "Группа «SPIRITUAL SEASONS»")
