.affiche
	.container
		.row
			.col-xs-12.col-sm-6
				h2.affiche__title
					| Афиша 
					br.visible-xs
					span.affiche__small
						| — 
						span.i-blue-calendar.affiche__icon
						| Календарь
			.col-xs-12.col-sm-6
				.affiche__small.text-right.affiche__subtitle
					a(href="#")
						| сегодня
					| , 
					a(href="#")
						| завтра
					| , 
					a(href="#")
						| на выходных
			.col-xs-12
				.row
					.affiche__items
						a.affiche__item(href="#")
							.affiche__item-pr
								img(src="images/affiche/1.jpg", alt="")
							.affiche__item-date
								| 1 марта в 16:00
							.affiche__item-title
								| Прогулка
						a.affiche__item(href="#")
							.affiche__item-pr
								img(src="images/affiche/2.jpg", alt="")
							.affiche__item-date
								| 03 февраля в 22:00
							.affiche__item-title
								| ДОН ЖУАН. Версия
						a.affiche__item(href="#")
							.affiche__item-pr
								img(src="images/affiche/3.jpg", alt="")
							.affiche__item-date
								| 02 февраля в 22:00
							.affiche__item-title
								| Группа 
								| «SPIRITUAL SEASONS»
						a.affiche__item(href="#")
							.affiche__item-pr
								img(src="images/affiche/1.jpg", alt="")
							.affiche__item-date
								| 1 марта в 16:00
							.affiche__item-title
								| Прогулка
						a.affiche__item(href="#")
							.affiche__item-pr
								img(src="images/affiche/2.jpg", alt="")
							.affiche__item-date
								| 03 февраля в 22:00
							.affiche__item-title
								| ДОН ЖУАН. Версия
						a.affiche__item(href="#")
							.affiche__item-pr
								img(src="images/affiche/3.jpg", alt="")
							.affiche__item-date
								| 02 февраля в 22:00
							.affiche__item-title
								| Группа 
								| «SPIRITUAL SEASONS»
