.articles
	.container
		.row
			.col-xs-12.col-sm-6.col-md-8.col-lg-9
				.articles__publ
					| автор проектов: 
					a(href="#")
						| Андрей Алексеев
				.articles__main
					+articles-item("articles/1.jpg", "Red Hot Chili Peppers - Californication", "Классе примерно в десятом я купил на рынке кассету группы Red Hot Chili Peppers, оторая называлась Californication. На самом деле там было несколько песен с другого льбома, и не хватало нескольких с собственно Californication, но сама заглавная песня там была, и слушал я на этой кассете в основном её.")
					+articles-item("articles/2.jpg", "Metallica - Master Of Puppets", "Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.")
					+articles-item("articles/3.jpg", "System Of A Down - Chop Suey", "В 1896 году новый китайский посол в Соединенных Штатах, Ли Хун-Чан прибыл в Нью-Йорк с большим штатом сотрудников, включавшим и трёх поваров. Он был полон решимости произвести впечатление на американцев ценностями китайской культуры и дал обед, на который пригласил выдающихся членов американской и китайской общин. ")
					+articles-item("articles/4.jpg", "Aerosmith - Dream On", "Совершенно не помню, каким образом я пару лет назад наткнулся на эту песню. Помню только, что был дома и нашёл её в сети. Она заиграла, и тут я понял - что-то, что слышу, доходит не только до ушей, но и до некоторых других органов. Это было верным признаком – я встретил Песню. ")
					+articles-item("articles/5.jpg", "Metallica - Master Of Puppets", "Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.")
			.col-xs-12.col-sm-6.col-md-4.col-lg-3
				aside.aside.aside--baige.aside--long
					include aside/social-links-white.jade
					include aside/news-white.jade
					include aside/post-1-white.jade
					include aside/social-tabs-white.jade
include random.jade
.articles-2
	.container
		.row
			.col-xs-12.col-sm-6.col-md-8.col-lg-9
				.articles__main
					+articles-item("articles/1.jpg", "Red Hot Chili Peppers - Californication", "Классе примерно в десятом я купил на рынке кассету группы Red Hot Chili Peppers, оторая называлась Californication. На самом деле там было несколько песен с другого льбома, и не хватало нескольких с собственно Californication, но сама заглавная песня там была, и слушал я на этой кассете в основном её.")
					+articles-item("articles/2.jpg", "Metallica - Master Of Puppets", "Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.")
					+articles-item("articles/3.jpg", "System Of A Down - Chop Suey", "В 1896 году новый китайский посол в Соединенных Штатах, Ли Хун-Чан прибыл в Нью-Йорк с большим штатом сотрудников, включавшим и трёх поваров. Он был полон решимости произвести впечатление на американцев ценностями китайской культуры и дал обед, на который пригласил выдающихся членов американской и китайской общин. ")
					+articles-item("articles/4.jpg", "Aerosmith - Dream On", "Совершенно не помню, каким образом я пару лет назад наткнулся на эту песню. Помню только, что был дома и нашёл её в сети. Она заиграла, и тут я понял - что-то, что слышу, доходит не только до ушей, но и до некоторых других органов. Это было верным признаком – я встретил Песню. ")
					+articles-item("articles/5.jpg", "Metallica - Master Of Puppets", "Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.")
					
					a.articles__btn-more.btn__more(href="#")
						| Ещё
div
	.container
		.row
			.col-xs-3