.articles
	.container
		.row
			.col-xs-12.col-sm-6.col-md-8.col-lg-9
				.articles__publ
					| автор проектов: 
					a(href="#")
						| Андрей Алексеев
				.articles__main
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/1.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Red Hot Chili Peppers - Californication
							.articles__item-desc
								| Классе примерно в десятом я купил на рынке кассету группы Red Hot Chili Peppers, оторая называлась Californication. На самом деле там было несколько песен с другого льбома, и не хватало нескольких с собственно Californication, но сама заглавная песня там была, и слушал я на этой кассете в основном её.

					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/2.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Metallica - Master Of Puppets
							.articles__item-desc
								| Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/3.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| System Of A Down - Chop Suey
							.articles__item-desc
								| В 1896 году новый китайский посол в Соединенных Штатах, Ли Хун-Чан прибыл в Нью-Йорк с большим штатом сотрудников, включавшим и трёх поваров. Он был полон решимости произвести впечатление на американцев ценностями китайской культуры и дал обед, на который пригласил выдающихся членов американской и китайской общин. 
					
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/4.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Aerosmith - Dream On
							.articles__item-desc
								| Совершенно не помню, каким образом я пару лет назад наткнулся на эту песню. Помню только, что был дома и нашёл её в сети. Она заиграла, и тут я понял - что-то, что слышу, доходит не только до ушей, но и до некоторых других органов. Это было верным признаком – я встретил Песню. 
					
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/5.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Metallica - Master Of Puppets
							.articles__item-desc
								| Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.
			.col-xs-12.col-sm-6.col-md-4.col-lg-3
				aside.aside.aside--baige.aside--long
					include aside/social-links-white.jade
					include aside/news-white.jade
					include aside/post-1-white.jade
					include aside/social-tabs-white.jade
include random.jade
.articles-2
	.container
		.row
			.col-xs-12.col-sm-6.col-md-8.col-lg-9
				.articles__main
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/1.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Red Hot Chili Peppers - Californication
							.articles__item-desc
								| Классе примерно в десятом я купил на рынке кассету группы Red Hot Chili Peppers, оторая называлась Californication. На самом деле там было несколько песен с другого льбома, и не хватало нескольких с собственно Californication, но сама заглавная песня там была, и слушал я на этой кассете в основном её.

					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/2.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Metallica - Master Of Puppets
							.articles__item-desc
								| Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/3.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| System Of A Down - Chop Suey
							.articles__item-desc
								| В 1896 году новый китайский посол в Соединенных Штатах, Ли Хун-Чан прибыл в Нью-Йорк с большим штатом сотрудников, включавшим и трёх поваров. Он был полон решимости произвести впечатление на американцев ценностями китайской культуры и дал обед, на который пригласил выдающихся членов американской и китайской общин. 
					
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/4.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Aerosmith - Dream On
							.articles__item-desc
								| Совершенно не помню, каким образом я пару лет назад наткнулся на эту песню. Помню только, что был дома и нашёл её в сети. Она заиграла, и тут я понял - что-то, что слышу, доходит не только до ушей, но и до некоторых других органов. Это было верным признаком – я встретил Песню. 
					
					.articles__item
						.articles__item-pr
							a(href="#")
								img(src="images/articles/5.jpg", alt="")
						.articles__item-text
							a.articles__item-title(href="#")
								| Metallica - Master Of Puppets
							.articles__item-desc
								| Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.
					a.articles__btn-more.btn__more(href="#")
						| Ещё
div
	.container
		.row
			.col-xs-3