.articles-list
	.container
		.row
			.col-xs-12
				h4.articles-list__title
					| Cтатьи по этой теме
			.col-xs-12.col-sm-6.col-md-3
				+article-list-item("articles-list/1.jpg", "Музыка", "background-color: rgb(225, 82, 95);", "Записки музыканта: «Акафист» — слушать стоя")
				
			.col-xs-12.col-sm-6.col-md-3
				+article-list-item("articles-list/2.jpg", "Искусство", "background-color: rgb(58, 209, 115);", "В Тампере успешно прошёл Российско-Финляндский")

			.col-xs-12.col-sm-6.col-md-3
				+article-list-item("articles-list/3.jpg", "Музыка", "background-color:  rgb(225, 82, 95);", "Здесь был Александр: Сортавала. Находка")

			.col-xs-12.col-sm-6.col-md-3
				+article-list-item("articles-list/1.jpg", "Музыка", "background-color: rgb(225, 82, 95);", "Записки музыканта: «Акафист» — слушать стоя")
			.col-xs-12
				a.btn__more.btn__more-dark(href="#")
					| Ещё

