.articles-list
	.container
		.row
			.col-xs-12
				h4.articles-list__title
					| Статьи по этой теме
		.row
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/1.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: #e1525f;")
							| Музыка
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Записки музыканта: 
							| «Акафист» — слушать стоя
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/2.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: #3ad173;")
							| Искусство
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| В Тампере успешно прошёл 
							| Российско-Финляндский 
							| Российско-Финляндский
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/3.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: #dfb33e;")
							| Музыка
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Здесь был Александр: 
							| Сортавала. Находка

			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/1.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color:  #e1525f;")
							| Музыка
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Записки музыканта: 
							| «Акафист» — слушать стоя
		.row
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/5.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: #3cc8d2;")
							| Выставки
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Здесь был Андрей: Гобустан. 
							| Встреча с наскальными ...
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/6.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: #5277e1;")
							| Кино
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Ход конем: 148 живых  
							| достояний России
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/7.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: #52b0e1;")
							| Театр
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Шаг к мечте: Общение 
							| — это просто?							
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/8.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: #3cc8d2;")
							| Выставки
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Здесь был Андрей: Гобустан. 
							| Встреча с наскальными ...
		.row
			.col-xs-12
				a.articles-list__more.btn__more.btn__more-dark(href="#")
					| Ещё

