.articles-list
	.container
		.row
			.col-xs-12
				h4.articles-list__title
					| Cтатьи по этой теме
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/1.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: rgba(225, 82, 95, 0.7);")
							| Музыка
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Записки музыканта: 
							| «Акафист» — слушать стоя
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/2.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color: rgba(58, 209, 115, 0.7);")
							| Искусство
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| В Тампере успешно прошёл 
							| Российско-Финляндский 
							| Российско-Финляндский
			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/3.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color:  rgba(225, 82, 95, 0.7);")
							| Музыка
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Здесь был Александр: 
							| Сортавала. Находка

			.col-xs-12.col-sm-6.col-md-3
				.articles-list__item
					.articles-list__item-pr
						a(href="#")
							img(src="images/articles-list/1.jpg", alt="")
						a.articles-list__item-tag(href="#", style="background-color:  rgba(225, 82, 95, 0.7);")
							| Музыка
					.articles-list__item-desc
						a.articles-list__item-title(href="#")
							| Записки музыканта: 
							| «Акафист» — слушать стоя
			.col-xs-12
				a.btn__more.btn__more-dark(href="#")
					| Ещё

