.authors
	.container
		.row
			.col-xs-12
				.authors__tabs
					a.authors__tab.btn__dark(href="#", data-container="card")
						| Карточки
					a.authors__tab.btn__dark.active(href="#", data-container="glossary")
						| Глосарий
		.clearfix.authors__cards(style="display: none;")
			.row
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/1.jpg", "Андрей Алексеев", "«Алхимия звука»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/2.jpg", "Серж Була", "«В поисках масок»")
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/3.jpg", "Михаил Данилов", "«Каллиграфия для всех»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/4.jpg", "Светлана Дерепащук", "«Мастерская»")
			.row
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/5.jpg", "Рина Елизарова", "«Ролевые гардеробы»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/6.jpg", "Андрей Ефимов", "«Забавные рассказы»")
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/7.jpg", "Ефросинья Кочигарова", "«Фактор XY»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/8.jpg", "Эдуард Крейн", "«Слепая зона»")
			.row
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/1.jpg", "Андрей Алексеев", "«Алхимия звука»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/2.jpg", "Серж Була", "«В поисках масок»")
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/3.jpg", "Михаил Данилов", "«Каллиграфия для всех»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/4.jpg", "Светлана Дерепащук", "«Мастерская»")
			.row
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/5.jpg", "Рина Елизарова", "«Ролевые гардеробы»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/6.jpg", "Андрей Ефимов", "«Забавные рассказы»")
				.col-xs-12.col-md-6
					.row
						.col-xs-12.col-sm-6
							+authors-card("authors-card/7.jpg", "Ефросинья Кочигарова", "«Фактор XY»")
						.col-xs-12.col-sm-6
							+authors-card("authors-card/8.jpg", "Эдуард Крейн", "«Слепая зона»")
			.row
				.col-xs-12
					a.btn__more(href="#")
						| Ещё
		.clearfix.authors__glossary.glossary
			.row
				.col-xs-12.col-sm-4
					.glossary__group
						h3.glossary__title
							| А
						dl
							dt
								| Андрей Алексеев
							dd
								| автор проекта 
								a(href="#")
									| «Алхимия звука»
					.glossary__group
						h3.glossary__title
							| Б
						dl
							dt
								| Серж Була
							dd
								| автор проекта 
								a(href="#")
									| «В поисках масок»
					.glossary__group
						h3.glossary__title
							| В
					.glossary__group
						h3.glossary__title
							| Г
					.glossary__group
						h3.glossary__title
							| Д
						dl
							dt
								| Михаил Данилов
							dd
								| автор проекта 
								a(href="#")
									| «Каллиграфия для всех»
							dt
								| Светлана Дерепащук
							dd
								| автор проекта 
								a(href="#")
									| «Мастерская»
					.glossary__group
						h3.glossary__title
							| Е
						dl
							dt
								| Андрей Ефимов
							dd
								| автор проекта 
								a(href="#")
									|  «Забавные рассказы»
							dt
								| Рина Елизарова
							dd
								| автор проекта 
								a(href="#")
									| «Ролевые гардеробы»
					.glossary__group
						h3.glossary__title
							| Ё
					.glossary__group
						h3.glossary__title
							| Ж
					.glossary__group
						h3.glossary__title
							| З
					.glossary__group
						h3.glossary__title
							| И
				.col-xs-12.col-sm-4
					.glossary__group
						h3.glossary__title
							| Й
					.glossary__group
						h3.glossary__title
							| К
						dl
							dt
								| Ефросинья Кочигарова
							dd
								| автор проекта 
								a(href="#")
									| «Фактор XY»
							dt
								| Эдуард Крейн
							dd
								| автор проекта 
								a(href="#")
									| «Слепая зона»
					.glossary__group
						h3.glossary__title
							| Л
					.glossary__group
						h3.glossary__title
							| М
					.glossary__group
						h3.glossary__title
							| Н
					.glossary__group
						h3.glossary__title
							| О
					.glossary__group
						h3.glossary__title
							| П
					.glossary__group
						h3.glossary__title
							| Р
					.glossary__group
						h3.glossary__title
							| С
				.col-xs-12.col-sm-4
					.glossary__group
						h3.glossary__title
							| У
					.glossary__group
						h3.glossary__title
							| Ф
					.glossary__group
						h3.glossary__title
							| Х
					.glossary__group
						h3.glossary__title
							| Ц
					.glossary__group
						h3.glossary__title
							| Ч
					.glossary__group
						h3.glossary__title
							| Ш
					.glossary__group
						h3.glossary__title
							| Щ
					.glossary__group
						h3.glossary__title
							| Э
					.glossary__group
						h3.glossary__title
							| Ю
					.glossary__group
						h3.glossary__title
							| Я

						
