.authors
	.container
		.row
			.col-xs-12
				.authors__tabs
					a.authors__tab.btn__dark(href="#", data-container="card")
						| Карточки
					a.authors__tab.btn__dark.active(href="#", data-container="glossary")
						| Глосарий
		.clearfix.authors__cards(style="display: none;")
			.row
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/1.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Андрей Алексеев
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Алхимия звука»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/2.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Серж Була
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «В поисках масок»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/3.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Михаил Данилов
							.authors__card-desc
								| автор проекта
								br
								a(href="#")
									| «Каллиграфия для всех»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/4.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Светлана Дерепащук
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Мастерская»
			.row
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/5.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Рина Елизарова
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Ролевые гардеробы»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/6.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Андрей Ефимов
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Забавные рассказы»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/7.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Ефросинья Кочигарова
							.authors__card-desc
								|  автор проекта
								br
								a(href="#")
									| «Фактор XY»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/8.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Эдуард Крейн
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Слепая зона»
			.row
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/1.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Андрей Алексеев
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Алхимия звука»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/2.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Серж Була
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «В поисках масок»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/3.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Михаил Данилов
							.authors__card-desc
								| автор проекта
								br
								a(href="#")
									| «Каллиграфия для всех»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/4.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Светлана Дерепащук
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Мастерская»
			.row
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/5.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Рина Елизарова
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Ролевые гардеробы»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/6.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Андрей Ефимов
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Забавные рассказы»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/7.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Ефросинья Кочигарова
							.authors__card-desc
								|  автор проекта
								br
								a(href="#")
									| «Фактор XY»
				.col-xs-12.col-sm-6.col-lg-3
					.authors__card
						.authors__card-pr
							a(href="#")
								img(src="images/authors-card/8.jpg", alt="")
						.authors__card-foo
							a.authors__card-name(href="#")
								| Эдуард Крейн
							.authors__card-desc
								| автор проекта 
								br
								a(href="#")
									| «Слепая зона»
			.row
				.col-xs-12
					a.btn__more(href="#")
						| Ещё
		.clearfix.authors__glossary.glossary
			.row
				.col-xs-12.col-sm-4
					.glossary__group
						h3.glossary__title
							| А
						dl
							dt
								| Андрей Алексеев
							dd
								| автор проекта 
								a(href="#")
									| «Алхимия звука»
					.glossary__group
						h3.glossary__title
							| Б
						dl
							dt
								| Серж Була
							dd
								| автор проекта 
								a(href="#")
									| «В поисках масок»
					.glossary__group
						h3.glossary__title
							| В
					.glossary__group
						h3.glossary__title
							| Г
					.glossary__group
						h3.glossary__title
							| Д
						dl
							dt
								| Михаил Данилов
							dd
								| автор проекта 
								a(href="#")
									| «Каллиграфия для всех»
							dt
								| Светлана Дерепащук
							dd
								| автор проекта 
								a(href="#")
									| «Мастерская»
					.glossary__group
						h3.glossary__title
							| Е
						dl
							dt
								| Андрей Ефимов
							dd
								| автор проекта 
								a(href="#")
									|  «Забавные рассказы»
							dt
								| Рина Елизарова
							dd
								| автор проекта 
								a(href="#")
									| «Ролевые гардеробы»
					.glossary__group
						h3.glossary__title
							| Ё
					.glossary__group
						h3.glossary__title
							| Ж
					.glossary__group
						h3.glossary__title
							| З
					.glossary__group
						h3.glossary__title
							| И
				.col-xs-12.col-sm-4
					.glossary__group
						h3.glossary__title
							| Й
					.glossary__group
						h3.glossary__title
							| К
						dl
							dt
								| Ефросинья Кочигарова
							dd
								| автор проекта 
								a(href="#")
									| «Фактор XY»
							dt
								| Эдуард Крейн
							dd
								| автор проекта 
								a(href="#")
									| «Слепая зона»
					.glossary__group
						h3.glossary__title
							| Л
					.glossary__group
						h3.glossary__title
							| М
					.glossary__group
						h3.glossary__title
							| Н
					.glossary__group
						h3.glossary__title
							| О
					.glossary__group
						h3.glossary__title
							| П
					.glossary__group
						h3.glossary__title
							| Р
					.glossary__group
						h3.glossary__title
							| С
				.col-xs-12.col-sm-4
					.glossary__group
						h3.glossary__title
							| У
					.glossary__group
						h3.glossary__title
							| Ф
					.glossary__group
						h3.glossary__title
							| Х
					.glossary__group
						h3.glossary__title
							| Ц
					.glossary__group
						h3.glossary__title
							| Ч
					.glossary__group
						h3.glossary__title
							| Ш
					.glossary__group
						h3.glossary__title
							| Щ
					.glossary__group
						h3.glossary__title
							| Э
					.glossary__group
						h3.glossary__title
							| Ю
					.glossary__group
						h3.glossary__title
							| Я

						
