.author-wallpaper(style="background: url(images/wallpaper/1.jpg) center center / cover;")
	.container
		.row
			.col-xs-12.col-sm-3
				img.author-wallpaper__pr(src="images/author/1.jpg", alt="")
			.col-xs-12.col-sm-9
				.author-wallpaper__margin
					.author-wallpaper__tags
						a.author-wallpaper__tag(href="#", style="border-color: #d34d59")
							| Музыка,
						| 
						a.author-wallpaper__tag(href="#", style="border-color: #3ad173;")
							| Искусство
					.author-wallpaper__name
						| Андрей Алексеев