.author
	.container
		.row.container__wrap
			.col-xs-12.col-sm-6.col-md-8.col-lg-9.container__main
				.author__short
					| автор проектов: 
					a(href="#")
						| «Алхимия звука», «Как играть на гитаре» и других ...
				.author__desc
					.author__desc-title
						| Кратко об авторе:
					.author__desc-short
						| Родился в Новгороде в прошлом в еке, окончил гимназию, потом экономический факультет НовГУ. 
						br
						| После этого отслужил два года в качестве офицера. Там же узнал, что такое fire-show.
						br
						.author__desc-full#author-desc-full(style="display: none;")
							| Родился в Новгороде в прошлом в еке, окончил гимназию, потом экономический факультет НовГУ. 
							br
							| После этого отслужил два года в качестве офицера. Там же узнал, что такое fire-show.
							| Родился в Новгороде в прошлом в еке, окончил гимназию, потом экономический факультет НовГУ. 
							br
							| После этого отслужил два года в качестве офицера. Там же узнал, что такое fire-show.
							| Родился в Новгороде в прошлом в еке, окончил гимназию, потом экономический факультет НовГУ. 
							br
							| После этого отслужил два года в качестве офицера. Там же узнал, что такое fire-show.
							| Родился в Новгороде в прошлом в еке, окончил гимназию, потом экономический факультет НовГУ. 
							br
							| После этого отслужил два года в качестве офицера. Там же узнал, что такое fire-show.
						a.author__desc-link.js-more(href="#author-desc-full", data-open="false")
							| Подробнее
				.author__items
					.author__collapse.js-collapse(data-collapse)
						h3.author__collapse-title.open
							|	Алхимия звука:
						.author__collapse-content
							+author-item("collapse/1.jpg", "Red Hot Chili Peppers - Californication", "Классе примерно в десятом я купил на рынке кассету группы Red Hot Chili Peppers, которая называлась Californication. На самом деле там было несколько песен с другого альбома, и не хватало нескольких с собственно Californication, но сама заглавная песня там была, и слушал я на этой кассете в основном её.")
							+author-item("collapse/2.jpg", "Metallica - Master Of Puppets", "Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.")
							a.author__collapse-more.btn__more(href="#")
								| Ещё

					.author__collapse.js-collapse(data-collapse)
						h3.author__collapse-title.open
							|	Как играть на гитаре:
						.author__collapse-content
							+author-item("collapse/1.jpg", "Red Hot Chili Peppers - Californication", "Классе примерно в десятом я купил на рынке кассету группы Red Hot Chili Peppers, которая называлась Californication. На самом деле там было несколько песен с другого альбома, и не хватало нескольких с собственно Californication, но сама заглавная песня там была, и слушал я на этой кассете в основном её.")
							+author-item("collapse/2.jpg", "Metallica - Master Of Puppets", "Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.")
							a.author__collapse-more.btn__more(href="#")
								| Ещё
					.author__collapse.js-collapse(data-collapse)
						h3.author__collapse-title.closed
							|	Записки музыканта
						.author__collapse-content
							+author-item("collapse/1.jpg", "Red Hot Chili Peppers - Californication", "Классе примерно в десятом я купил на рынке кассету группы Red Hot Chili Peppers, которая называлась Californication. На самом деле там было несколько песен с другого альбома, и не хватало нескольких с собственно Californication, но сама заглавная песня там была, и слушал я на этой кассете в основном её.")
							+author-item("collapse/2.jpg", "Metallica - Master Of Puppets", "Третьего марта исполнилось тридцать лет альбому Master Of Puppets. Этот альбом до сих пор считается поклонниками группы Metallica и самими музыкантами одной из знаковых точек всего творческого пути группы.")
							a.author__collapse-more.btn__more(href="#")
								| Ещё
			.col-xs-12.col-sm-6.col-md-4.col-lg-3.container__aside
				aside.aside.aside--baige.aside--long.aside--top-margin
					include aside/social-links-white.jade
					include aside/news-white.jade
					include aside/post-1-white.jade
					include aside/social-tabs-white.jade
					include aside/post-2-white.jade
					include aside/post-3-white.jade
					//- include aside/post-4-white.jade
