.distribution
	.container
		.row
			.col-xs-12
				a.distribution__up(href="#")
					span.i-up
			.col-xs-12.col-sm-6
				form.distribution__content(action="")
					| Хотите получать рассылку ?
					br.hidden-lg
					input.distribution__email(type="email", placeholder="Оставьте ваш емайл", required)
					button.btn__ok.distribution__ok
						| ОК
			.col-xs-12.col-sm-6
				.distribution__content.distribution__right
					| Подписывайтесь, на наши социальный сети:
					br.hidden-lg
					a.distribution__social-link(href="#")
						span.social-dark__vk
					a.distribution__social-link(href="#")
						span.social-dark__fb
					a.distribution__social-link(href="#")
						span.social-dark__tw
					a.distribution__social-link(href="#")
						span.social-dark__ok
					a.distribution__social-link(href="#")
						span.social-dark__yt
					a.distribution__social-link(href="#")
						span.social-dark__in


	