
.dropdown-left
	.drop-rubric.rubric
		.rubric-hidden.rubric-briefly
			.rubric-briefly__tabs
				a.rubric-briefly__tab(href="#")
					| наглядно
				a.rubric-briefly__tab.active(href="#")
					| кратко
			a.rubric-briefly__close(href="#")
				span.i-drop-close.rubric-detail__close-icon
			ul
				li
					a(href="#")
						| Театр
						span.rubric-briefly__badge.badge(style="background: #52b0e1")
							| 165
				li
					a(href="#")
						| Кино
						span.rubric-briefly__badge.badge(style="background: #7592e7;")
							| 149
				li
					a(href="#")
						| Музыка
						span.rubric-briefly__badge.badge(style="background: #e7757f;")
							| 122
				li
					a(href="#")
						| Искусство
						span.rubric-briefly__badge.badge(style="background: #61da8f;")
							| 162
				li
					a(href="#")
						| Литература
						span.rubric-briefly__badge.badge(style="background: #dea84c;")
							| 19
				li
					a(href="#")
						| История
						span.rubric-briefly__badge.badge(style="background: #7082ac;")
							| 12
				li
					a(href="#")
						| Ремесло
						span.rubric-briefly__badge.badge(style="background: #f2626f;")
							| 121
				li
					a(href="#")
						| Тусовка
						span.rubric-briefly__badge.badge(style="background: #57d0fe;")
							| 123
				li
					a(href="#")
						| Праздники
						span.rubric-briefly__badge.badge(style="background: #6f9fd8;")
							| 120
				li
					a(href="#")
						| Дети
						span.rubric-briefly__badge.badge(style="background: #58d1fe;")
							| 110
				li
					a(href="#")
						| Разное
						span.rubric-briefly__badge.badge(style="background: #6f9fd8;")
							| 129
		.rubric-detail
			header.rubric-detail__header
				.clearfix
					.col-xs-12
						h2.rubric-detail__title
							| Разделы
							span.rubric-detail__tabs
								a.rubric-detail__tab.active(href="#")
									| наглядно
								a.rubric-detail__tab(href="#")
									| кратко
							a.rubric-detail__close(href="#")
								span.rubric-detail__close-title
									| свернуть 
								span.i-drop-close.rubric-detail__close-icon
			.rubric-detail__main
				.rubric-detail__content.clearfix
					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Театр
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/1.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Задним числом
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/2.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Третий звонок
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/3.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Третий звонок: «Любовь 
									| — книга золотая» (1995)
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Театр

					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Кино
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/4.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Лабиринты
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/5.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Слепая зона
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/6.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| "Отряд самоубийц" добрался 
									| до Великого Новгорода ...
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Кино
				
					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Музыка
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/7.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Записки музыканта
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/8.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Алхимия звука
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/9.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| System Of A Down - Chop Suey
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Музыка

					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Искусство
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/10.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Дневник художника
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/11.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Ролевые гардеробы
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/12.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Новгородские художники 
									| дарят "Дыхание времени"
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Искусство


					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Литература
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/13.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Книжный дозор
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/14.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Поэты из «Чемодана»
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/15.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Владимир Набоков 
									| и Вера - двое, я и моя тень
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Литература

					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| История
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/16.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Военная история 
									| Новгородской земли
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/17.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Лабиринты
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/18.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Человек с ружьём: 
									| Продуваемые всеми ветрами
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| История

					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Праздники
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/19.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| В поисках масок
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/20.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Княжья Братчина
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/21.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| ASIA PARTY 
									| в Великом Новгороде
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Праздники

					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Дети
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/22.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Задним числом
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/23.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Третий звонок
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/24.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Детский час: Проблемы 
									| воспитания дошкольников...
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Дети

					.col-xs-12
						h3.rubric-detail__subtitle
							a(href="#")
								| Разное
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/25.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Лабиринты
					.col-xs-4
						.rubric-detail__item
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/26.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| ИНТЕРЗОО-96
					.col-xs-4
						.rubric-detail__item.rubric-detail__item--new
							.rubric-detail__item-pr
								a(href="#")
									img(src="images/rubric/27.jpg", alt="")
							.rubric-detail__item-desc
								a.rubric-detail__item-title(href="#")
									| Ход конем:
									| 48 живых достояний России
							a.rubric-detail__item-tag(href="#", style="background-color: #4c88d0;")
								| Разное
					.col-xs-12
						footer.rubric-detail__foo
							.rubric-detail__title
								a.rubric-detail__close(href="#")
									span.rubric-detail__close-title
										| свернуть 
									span.i-drop-close.rubric-detail__close-icon

