.event
	.container
		.row
			.col-xs-12
				a.event__refresh.link-more(href="#")
					| случайное событие
				a.event__refresh-icon.i-refresh(href="#")
				h2.event__title
					| Доктор Стрэндж
			.col-xs-6
				.event__pr
					img(src="images/event/1.jpg", alt="")
			.col-xs-6
				.event__pr
					img(src="images/event/2.jpg", alt="")
			.col-xs-12
				.event__publ
					.event__publ-item
						.event__publ-key
							| Премьера:
						.event__publ-val
							| 31 октября 2016
					.event__publ-item
						.event__publ-key
							| Площадка:
						.event__publ-val
							a.link-reverse(href="#")
								| Киноцентр,
							| 
							a.link-reverse(href="#")
								| Мираж
				.event__desc
					| Стефан Стрэндж был искусным хирургом, слишком влюблённым в свою работу и бесконечно уверенным в себе. Страшная автокатастрофа, в которой, по вине Стефана, погибла его беременная жена, лишила руки доктора былой чувствительности. Потеряв смысл жизни, герой отправился на поиски средства исцеления тела и души и, спустя многие годы, стал одним из могущественных магов Земли.