footer.foo
	.container
		.row
			.col-xs-12.col-md-3
				button.nav-foo__humburger.pull-right
							span.humburger
				img.foo__logo(src="images/foo-logo.png", alt="")
			.col-xs-12.col-md-9
				nav.foo__nav.nav-foo
					.clearfix
						
					ul.nav-foo__list
						li.nav-foo__item
							a.nav-foo__link(href="#")
								| О проекте
						li.nav-foo__item
							a.nav-foo__link(href="#")
								| Об авторах
						li.nav-foo__item
							a.nav-foo__link(href="#")
								| Стать автором
						li.nav-foo__item
							a.nav-foo__link(href="#")
								| Реклама
						li.nav-foo__item
							a.nav-foo__link(href="#")
								| Стать партнёром
			.col-xs-12
				.foo__copy
					| Афиша культурной жизни ©  2016
			.col-xs-12.col-sm-10
				.foo__requisites
					| Свидетельство о регистрации средства массовой информации ЭЛ № ФС 77 - 66090 выдано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 10.06.2016. Учредители: ООО "Апарт"
			.col-xs-12.col-sm-2.text-center
				a(href="#")
					span.i-rss