.main-slider
	.main-slider__wrap
		.container
			.row
				.col-xs-12
					.main-slider__arrows#main-slider__arrows
	.main-slider__container
		div.main-slider__slide
			img(src="images/main-slider/1.jpg", alt="")
			.main-slider__slide-title
				| Взгляд из-за угла: Танцевальный бум
		div.main-slider__slide
			img(src="images/main-slider/2.jpg", alt="")
			.main-slider__slide-title
				| Взгляд из-за угла: Танцевальный бум
		div.main-slider__slide
			img(src="images/main-slider/3.jpg", alt="")
			.main-slider__slide-title
				| Взгляд из-за угла: Танцевальный бум
		div.main-slider__slide
			img(src="images/main-slider/1.jpg", alt="")
			.main-slider__slide-title
				| Взгляд из-за угла: Танцевальный бум
		div.main-slider__slide
			img(src="images/main-slider/2.jpg", alt="")
			.main-slider__slide-title
				| Взгляд из-за угла: Танцевальный бум
		div.main-slider__slide
			img(src="images/main-slider/3.jpg", alt="")
			.main-slider__slide-title
				| Взгляд из-за угла: Танцевальный бум