.news
	.container
		.row.container__wrap
			.col-xs-12.col-sm-6.col-md-8.col-lg-9.container__main
				h2.news__title
					| Новости 
				.news__items.clearfix
					+news-item("news/1.jpg", "23.10.2016 в 15:20", "Группа «Wildways» устроит грандиозный концерт в Великом Новгороде", "6 ноября в Великом Новгороде в клубе «Железный папа» выступит умопомрачительная группа — «Wildways». За 7 лет существования музыканты сумели покорить сердца европейских и российских слушателей.")
					+news-item("news/2.jpg", "23.10.2016 в 15:20", "При \"Всероссийском обществе слепых\" в Новгороде планируется создать \"молодежную ячейку\" активистов", "\"Всероссийское общество слепых\" в Великом Новгороде привлекает активную молодежь с проблемами зрения к совместной работе")
					+news-item("news/3.jpg", "23.10.2016 в 15:20", "Дети не хотят жить с Анджелиной Джоли", "Брэд Питт и Анджелина Джоли заняты бракоразводным процессом и документами об опеке детей.")
					+news-item("news/4.jpg", "23.10.2016 в 15:20", "Конкурс дизайна автомобилей «Стрит-арт на борту»", "Объявлен всероссийский конкурс дизайна автомобилей такси «Стрит-арт на борту». Дедлайн 21 декабря 2016 года.")
					+news-item("news/1.jpg", "23.10.2016 в 15:20", "Группа «Wildways» устроит грандиозный концерт в Великом Новгороде", "6 ноября в Великом Новгороде в клубе «Железный папа» выступит умопомрачительная группа — «Wildways». За 7 лет существования музыканты сумели покорить сердца европейских и российских слушателей.")
					+news-item("news/2.jpg", "23.10.2016 в 15:20", "При \"Всероссийском обществе слепых\" в Новгороде планируется создать \"молодежную ячейку\" активистов", "\"Всероссийское общество слепых\" в Великом Новгороде привлекает активную молодежь с проблемами зрения к совместной работе")
					+news-item("news/3.jpg", "23.10.2016 в 15:20", "Дети не хотят жить с Анджелиной Джоли", "Брэд Питт и Анджелина Джоли заняты бракоразводным процессом и документами об опеке детей.")
					+news-item("news/4.jpg", "23.10.2016 в 15:20", "Конкурс дизайна автомобилей «Стрит-арт на борту»", "Объявлен всероссийский конкурс дизайна автомобилей такси «Стрит-арт на борту». Дедлайн 21 декабря 2016 года.")
					
					.row
						.col-xs-12
							a.btn__more.news__more(href="#")
								| Ещё
			.col-xs-12.col-sm-6.col-md-4.col-lg-3.container__aside
				aside.aside.aside--dark.aside--long.aside--top-margin
					include aside/social-links-dark.jade
					include aside/news-dark.jade
					include aside/post-1-dark.jade
					include aside/social-tabs-dark.jade
					include aside/post-2-dark.jade
					include aside/post-3-dark.jade
					include aside/post-4-dark.jade
