.news
	.container
		.row.container__wrap
			.col-xs-12.col-sm-6.col-md-8.col-lg-9.container__main
				h2.news__title
					| Новости 
				.news__items.clearfix
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/1.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| Группа «Wildways» устроит грандиозный концерт в Великом Новгороде
								.news__item-desc
									| 6 ноября в Великом Новгороде в клубе «Железный папа» выступит умопомрачительная группа — «Wildways». За 7 лет существования музыканты сумели покорить сердца европейских и российских слушателей.
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/2.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| При "Всероссийском обществе слепых" в Новгороде планируется создать "молодежную ячейку" активистов
								.news__item-desc
									| "Всероссийское общество слепых" в Великом Новгороде привлекает активную молодежь с проблемами зрения к совместной работе
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/3.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| Дети не хотят жить с Анджелиной Джоли
								.news__item-desc
									| Брэд Питт и Анджелина Джоли заняты бракоразводным процессом и документами об опеке детей.
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/4.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| Конкурс дизайна автомобилей «Стрит-арт на борту»
								.news__item-desc
									| Объявлен всероссийский конкурс дизайна автомобилей такси «Стрит-арт на борту». Дедлайн 21 декабря 2016 года.
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/1.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| Группа «Wildways» устроит грандиозный концерт в Великом Новгороде
								.news__item-desc
									| 6 ноября в Великом Новгороде в клубе «Железный папа» выступит умопомрачительная группа — «Wildways». За 7 лет существования музыканты сумели покорить сердца европейских и российских слушателей.
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/2.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| При "Всероссийском обществе слепых" в Новгороде планируется создать "молодежную ячейку" активистов
								.news__item-desc
									| "Всероссийское общество слепых" в Великом Новгороде привлекает активную молодежь с проблемами зрения к совместной работе
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/3.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| Дети не хотят жить с Анджелиной Джоли
								.news__item-desc
									| Брэд Питт и Анджелина Джоли заняты бракоразводным процессом и документами об опеке детей.
					.row.news__item
						.col-xs-12.col-md-4
							a(href="#")
								img.news__item-pr(src="images/news/4.jpg", alt="")
						.col-xs-12.col-md-8
							.news__item-text
								.news__item-date
									| 23.10.2016 в 15:20
								a.news__item-title(href="#")
									| Конкурс дизайна автомобилей «Стрит-арт на борту»
								.news__item-desc
									| Объявлен всероссийский конкурс дизайна автомобилей такси «Стрит-арт на борту». Дедлайн 21 декабря 2016 года.
					.row
						.col-xs-12
							a.btn__more.news__more(href="#")
								| Ещё
			.col-xs-12.col-sm-6.col-md-4.col-lg-3.container__aside
				aside.aside.aside--dark.aside--long
					include aside/social-links-dark.jade
					include aside/news-dark.jade
					include aside/post-1-dark.jade
					include aside/social-tabs-dark.jade
					include aside/post-2-dark.jade
					include aside/post-3-dark.jade
					include aside/post-4-dark.jade
