.poster-filter
	.container
		.row
			.col-xs-12.col-sm-6
				.poster-filter__left
					a.link-more.poster-filter__link-more(href="#")
						span.i-filter
						|  фильтр
			.col-xs-12.col-sm-6
				.poster-filter__right
					a(href="#")
						| сегодня
					| , 
					a(href="#")
						| завтра
					| , 
					a(href="#")
						| на выходных
