include mixins.jade
.poster.feed
	.container
		.row.container-feed__wrap
			.col-xs-12.col-md-8.col-lg-9.container-feed__main
				.poster__publ-info
					| Опубликовано 23.10.2016 в 15:20, 
					a.link-reverse(href="#")
						| афиша
					|, раздел 
					a.link-reverse(href="#")
						| кино
				.poster__main
					h2.poster__title
						| Доктор Стрэндж
					.clearfix
						.poster__pr
							img(src="images/poster/pr.jpg", alt="")
						.poster__info
							.chars
								.chars__item
									.chars__key
										| Премьера:
									.chars__val
										| 31 октября 2016
								.chars__item
									.chars__key
										img(src="images/poster/rating.png", alt="")
									.chars__val.text-medium
										| Кинопоиск
								.chars__item
									.chars__key
										| Жанр:
									.chars__val
										| драма
								.chars__item
									.chars__key
										| Страна:
									.chars__val
										| США
								.chars__item
									.chars__key
										| Режиссёр:
									.chars__val
										| Скотт Дерриксон
								.chars__item
									.chars__key
										| Год:
									.chars__val
										| 2016
								.chars__item
									.chars__key
										| В ролях:
									.chars__val
										| Бенедикт Камбербэтч, Тильда 
										| Суинтон, Мадс Миккельсен, 
										| Чиветель Эджиофор, Рэйчел 
										| МакАдамс, Бенедикт Вонг, Майкл 
										| Стулбарг, Бенджамин Брэтт, 
										| Скотт Эдкинс
								.chars__item
									.chars__key
										| 
									.chars__val
										| 
							.poster__divider
							.chars
								.chars__item
									.chars__key
										| Площадка:
									.chars__val
										a.link-reverse(href="#")
											| Киноцентр
										br
										a.link-reverse(href="#")
											| Мираж
							a.btn__buy-ticket.poster__buy-ticket(href="#")
								| Купить билет
					.poster__desc
						| Стефан Стрэндж был искусным хирургом, слишком влюблённым в свою работу и бесконечно уверенным в себе. Страшная автокатастрофа, в которой, по вине Стефана, погибла его беременная жена, лишила руки доктора былой чувствительности. Потеряв смысл жизни, герой отправился на поиски средства исцеления тела и души и, спустя многие годы, стал одним из могущественных магов Земли.
					.poster__divider.poster__divider--shchedule
					.poster__schedule.schedule
						h5.schedule__title
							| Расписание 
							span.blue
								| —  
								a(href="#")
									| сегодня
								|,  
								a(href="#")
									| завтра
								|,
								a(href="#")  
									| 06 ноября (ВС)
								| , 
								span.i-micro-blue-calendar
								|  
								a(href="#")
									| выбрать день
						.schedule__item
							h6.schedule__item-title
								| Мираж ТРЦ «Мармелад» - 
								a.blue(href="#")
									| Карта
							.schedule__item-desc
								| 17:40	17:50	18:00	18:20	18:25	18:40	19:20	19:30	19:40	20:00	20:05	20:10	20:20	20:40	20:45	20:50	21:00	21:40	22:00	22:20	22:30	22:40	23:00	23:05	23:10	23:20	23:40	23:45	0:05		0:10		0:15		0:20
						.schedule__item
							h6.schedule__item-title
								| Киноцентр» - 
								a.blue(href="#")
									| Карта
							.schedule__item-desc
								| 17:40	17:50	18:00	18:20	18:25	18:40	19:20	19:30	19:40	20:00	20:05	20:10	20:20	20:40	20:45	20:50	21:00	21:40	22:00	22:20	22:30	22:40	23:00	23:05	23:10	23:20	23:40	23:45	0:05		0:10		0:15		0:20
				footer.poster__foo.poster__foo
					.clearfix
						.poster__share.share
							span.share__title
								| Поделиться: 
							br.visible-xs
							a.share__vk.share__link(href="#")
								span.social__vk
								.share__count
									| 11
							a.share__fb.share__link(href="#")
								span.social__fb
								.share__count
									| 3
							a.share__tw.share__link(href="#")
								span.social__tw
								.share__count
									| 0

						.poster__hashtags.hashtags
							a.link-reverse(href="#")
								| #кино
							| , 
							a.link-reverse(href="#")
								| #афиша
							| , 
							a.link-reverse(href="#")
								| #драмма
				include comments.jade
			.col-xs-12.col-md-4.col-lg-3.container-feed__aside
				aside.aside.aside--baige.aside--long
					include aside/social-links-white.jade
					include aside/news-white.jade
					include aside/post-1-white.jade
					include aside/social-tabs-white.jade
					include aside/post-2-white.jade
					include aside/post-3-white.jade
