.posts-and-news
	.container
		.row.container__wrap
			.col-xs-12.col-sm-6.col-md-3.col-sm-push-6.col-md-push-9.container__aside
				aside.aside.aside--dark.aside--main-news.clearfix
					include aside/news-dark.jade
					include aside/post-1-dark.jade
			.col-xs-12.col-sm-6.col-md-9.col-sm-pull-6.col-md-pull-3.container__main
				.posts-and-news__posts.posts.clearfix
					.row
						.col-xs-12.col-md-6
							.posts__item
								.posts__item-pr
									img(src="images/posts/1.jpg", alt="")
								a.posts__item-tag(href="#tag", style="background-color: rgba(60, 200, 210, 0.7);")
									| Выставки
								.posts__item-type
									| фоторепортаж
								a.posts__item-inner(href="#")
									.posts__item-title
										| «Драккон» захватил Флагман»
									.posts__item-desc
										| 27 октября 2016 года в клубе Metro Великого 
										| Новгорода прошёл концерт удивительного 
										| коллектива - "Психея".
						.col-xs-12.col-md-6
							.posts__item
								.posts__item-pr
									img(src="images/posts/2.jpg", alt="")
								a.posts__item-tag(href="#", style="background-color: rgba(225, 82, 95, 0.7);")
									| Музыка
								//- .posts__item-type
									| фоторепортаж
								a.posts__item-inner(href="#")
									.posts__item-title.line-clamp.line-clamp-2
										| Легендарная группа «Психея» 
										| отметила 20-летие 
										| в Великом Новгороде
									.posts__item-desc
										| 27 октября 2016 года в клубе Metro Великого 
										| Новгорода прошёл концерт удивительного 
										| коллектива - "Психея".
					.row
						.col-xs-12.col-md-6
							.posts__item
								.posts__item-pr
									img(src="images/posts/3.jpg", alt="")
								a.posts__item-tag(href="#tag", style="background-color: rgba(225, 82, 95, 0.7);")
									| Музыка
								.posts__item-type
									| Записки музыканта
								a.posts__item-inner(href="#")
									.posts__item-title
										| Музыка 
										| в фотографии. Part III
									.posts__item-desc
										| 27 октября 2016 года в клубе Metro Великого 
										| Новгорода прошёл концерт удивительного 
										| коллектива - "Психея".
						.col-xs-12.col-md-6
							.posts__item
								.posts__item-pr
									img(src="images/posts/4.jpg", alt="")
								a.posts__item-tag(href="#tag", style="background-color: rgba(58, 209, 115, 0.7);")
									| Искусство
								.posts__item-type
									| Шаг к мечте
								a.posts__item-inner(href="#")
									.posts__item-title
										| Что значит быть 
										| свободным?
									.posts__item-desc
										| 27 октября 2016 года в клубе Metro Великого 
										| Новгорода прошёл концерт удивительного 
										| коллектива - "Психея".