.posts-and-news
	.container
		.row.container__wrap
			.col-xs-12.col-sm-6.col-md-3.col-sm-push-6.col-md-push-9.container__aside
				aside.aside.aside--dark.aside--main-news.clearfix
					include aside/news-dark.jade
					include aside/post-1-dark.jade
			.col-xs-12.col-sm-6.col-md-9.col-sm-pull-6.col-md-pull-3.container__main
				.posts-and-news__posts.posts.clearfix
					.row
						.col-xs-12.col-md-6
							+posts-item("posts/1.jpg", "Выставки", "background-color: rgba(60, 200, 210, 0.7);", "фоторепортаж", "«Драккон» захватил Флагман»", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")							
						.col-xs-12.col-md-6
							+posts-item("posts/2.jpg", "Музыка", "background-color: rgba(225, 82, 95, 0.7);", "", "Легендарная группа «Психея» отметила 20-летие в Великом Новгороде", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")
					.row
						.col-xs-12.col-md-6
							+posts-item("posts/3.jpg", "Музыка", "background-color: rgba(225, 82, 95, 0.7);", "Записки музыканта", "Музыка в фотографии. Part III", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")							
						.col-xs-12.col-md-6
							+posts-item("posts/4.jpg", "Искусство", "background-color: rgba(58, 209, 115, 0.7);", "Шаг к мечте", "Что значит быть свободным?", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")