.posts-and-social
	.container
		.row.container__wrap
			.col-xs-12.col-sm-6.col-md-9.container__main
				.posts-and-social__posts.posts.clearfix
					.row
						.col-xs-12.col-md-6
							+posts-item("posts/5.jpg", "Музыка", "background-color: rgba(225, 82, 95, 0.7);", "Записки музыканта", "Акафист» — слушать стоя", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")
						.col-xs-12.col-md-6
							+posts-item("posts/6.jpg", "Искусство", "background-color: rgba(225, 82, 95, 0.7);", "", "Ход конем: 148 живых достояний России", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")
					.row
						.col-xs-12.col-md-6
							+posts-item("posts/7.jpg", "Путешествия", "background-color: rgba(216, 126, 8, 0.7);", "Здесь был Андрей", "Гобустан. Встреча с наскальными ...", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")
						.col-xs-12.col-md-6
							+posts-item("posts/8.jpg", "Музыка", "background-color: rgba(225, 82, 95, 0.7);", "Шаг к мечте", "В Тампере успешно прошёл Российско-Финляндский ...", "27 октября 2016 года в клубе Metro Великого Новгорода прошёл концерт удивительного коллектива - Психея.")
						.col-xs-12
							a.btn__more(href="#")
								| Ещё
			.col-xs-12.col-sm-6.col-md-3.container__aside
				.aside.aside--white
					include aside/social-tabs-white
					a(href="#")
						.aside-post.aside-post--white
							.aside-post__pr
								img(src="images/aside/2.jpg", alt="")
								a.aside-post__tag(style="background-color: #3ad173;", href="#tab")
									| new
							a.aside-post__title(href="#")
								| Литературый критик