.poster-maps
	.container
		.row
			.col-xs-12
				.poster-maps__type
					| Кинотеатр
				h3.poster-maps__title
					| Мираж ТРЦ «Мармелад»
				.poster-maps__desc
					| Индустриальный просп., 24, литера А, ТРК «Июнь», 3 этаж
					br
					.poster-maps__desc-full
						| Индустриальный просп., 24, литера А, ТРК «Июнь», 3 этаж
						| Индустриальный просп., 24, литера А, ТРК «Июнь», 3 этаж
						| Индустриальный просп., 24, литера А, ТРК «Июнь», 3 этаж
					a.poster-maps__more.link-more.js-more(href="#", data-open="false")
						| Подробнее
					.poster-maps__map
						div(style="height: 254px; background: black;")
