.articles-random.clearfix.to-feed.to-feed--dark
	.articles-random__refresh-wrap
			a.articles-random__refresh.link-more(href="#")
				| случайное событие
			a.articles-random__refresh-icon.i-refresh-dark(href="#")
		h2.articles-random__title
			| Большое путешествие по Лофотенам.
		.articles-random__carousel
			.articles-random__slider.js-articles-random-slider
					div
						img(src="images/article-slider/vertical.jpg", alt="")
					div
						img(src="images/article-slider/vertical.jpg", alt="")
					div
						img(src="images/article-slider/vertical.jpg", alt="")
			.articles-random__thumb.js-articles-random-thumb
				div
					img(src="images/article-slider/thumb/vertical-1.jpg", alt="")
				div
					img(src="images/article-slider/thumb/vertical-2.jpg", alt="")
				div
					img(src="images/article-slider/thumb/vertical-3.jpg", alt="")
		.articles-random__desc
			| Продолжаем наше путешествие по Северной Норвегии. Сегодня – история о двух мирах: о дождливой скалистой Сене и солнечных неповторимых Линген-альпах. Путь на север, непростой и наполненный приключениями.