.articles-random
	.container
		.row
			.col-xs-12.col-sm-6.col-md-8.col-lg-9
				.articles-random__refresh-wrap
					a.articles-random__refresh.link-more(href="#")
						| случайное событие
					a.articles-random__refresh-icon.i-refresh-dark(href="#")
				h2.articles-random__title
					| Большое путешествие по Лофотенам.
				.articles-random__carousel
					.articles-random__slider
							div
								img(src="images/article-slider/vertical.jpg", alt="")
							div
								img(src="images/article-slider/vertical.jpg", alt="")
							div
								img(src="images/article-slider/vertical.jpg", alt="")
							div
								img(src="images/article-slider/vertical.jpg", alt="")
					.articles-random__thumb
						div
							img(src="images/article-slider/thumb/vertical-1.jpg", alt="")
						div
							img(src="images/article-slider/thumb/vertical-2.jpg", alt="")
						div
							img(src="images/article-slider/thumb/vertical-3.jpg", alt="")
				.articles-random__desc
					| Продолжаем наше путешествие по Северной Норвегии. Сегодня – история о двух мирах: о дождливой скалистой Сене и солнечных неповторимых Линген-альпах. Путь на север, непростой и наполненный приключениями.