script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/slick-carousel/slick/slick.min.js")
script(src="js/jquery.collapse.js")
script(src="js/sliiide.min.js")
script(src="js/responsive-calendar.min.js")
script(src="js/jquery.scrollUp.min.js")
script(src="js/main.js")