.special
	.container
		.row
			.col-xs-12
				h2.special__title
					| Спецпроекты
		.row
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/1.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(225, 82, 95, 0.7);")
							| Музыка
					.special__item-desc
						a.special__item-title(href="#")
							| Записки музыканта 
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/2.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(58, 209, 115, 0.7);")
							| Культура
					.special__item-desc
						a.special__item-title(href="#")
							| Выходные в Великом Новгороде
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/3.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(225, 82, 95, 0.7);")
							| Музыка
					.special__item-desc
						a.special__item-title(href="#")
							| На концерте
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/4.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(58, 209, 115, 0.7);")
							| Культура
					.special__item-desc
						a.special__item-title(href="#")
							| Форум 
		.row
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/5.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(82, 119, 225, 0.7);")
							| Кино
					.special__item-desc
						a.special__item-title(href="#")
							| Лабиринты
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/6.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(60, 200, 210, 0.7);")
							| Выставки
					.special__item-desc
						a.special__item-title(href="#")
							| Здесь был Андрей
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/7.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(60, 200, 210, 0.7);")
							| Выставки
					.special__item-desc
						a.special__item-title(href="#")
							| Встреча
			.col-xs-12.col-sm-6.col-md-3
				.special__item
					.special__item-pr
						a(href="#")
							img(src="images/special/8.jpg", alt="")
						a.special__item-tag(href="#", style="background-color: rgba(82, 119, 225, 0.7);")
							| Кино
					.special__item-desc
						a.special__item-title(href="#")
							| Ход конем
		.row
			.col-xs-12
				a.special__more.btn__more.btn__more-dark(href="#")
					| Ещё

