.special
	.container
		.row
			.col-xs-12
				h2.special__title
					| Спецпроекты
		.row
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/1.jpg", "Музыка", "background-color: rgba(225, 82, 95, 0.7);", "Записки музыканта ")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/2.jpg", "Культура", "background-color: rgba(58, 209, 115, 0.7);", "Выходные в Великом Новгороде")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/3.jpg", "Музыка", "background-color: rgba(225, 82, 95, 0.7);", "На концерте")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/4.jpg", "Культура", "background-color: rgba(58, 209, 115, 0.7);", "Форум ")
		.row
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/5.jpg", "Кино", "background-color: rgba(82, 119, 225, 0.7);", "Лабиринты")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/6.jpg", "Выставки", "background-color: rgba(60, 200, 210, 0.7);", "Здесь был Андрей")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/7.jpg", "Выставки", "background-color: rgba(60, 200, 210, 0.7);", "Встреча")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/8.jpg", "Кино", "background-color: rgba(82, 119, 225, 0.7);", "Ход конем")
		.row
			.col-xs-12
				a.special__more.btn__more.btn__more-dark(href="#")
					| Ещё

