.special
	.container
		.row
			.col-xs-12
				h2.special__title
					| Спецпроекты
		.row
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/1.jpg", "Музыка", "background-color: rgb(225, 82, 95);", "Записки музыканта ")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/2.jpg", "Культура", "background-color: rgb(58, 209, 115);", "Выходные в Великом Новгороде")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/3.jpg", "Музыка", "background-color: rgb(225, 82, 95);", "На концерте")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/4.jpg", "Культура", "background-color: rgb(58, 209, 115);", "Форум ")
		.row
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/5.jpg", "Кино", "background-color: rgb(82, 119, 225);", "Лабиринты")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/6.jpg", "Выставки", "background-color: rgb(60, 200, 210);", "Здесь был Андрей")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/7.jpg", "Выставки", "background-color: rgb(60, 200, 210);", "Встреча")
			.col-xs-12.col-sm-6.col-md-3
				+special-item("special/8.jpg", "Кино", "background-color: rgb(82, 119, 225);", "Ход конем")
		.row
			.col-xs-12
				a.special__more.btn__more.btn__more-dark(href="#")
					| Ещё

