.tags-line.visible-lg
	.container
		.row
			.col-xs-12
				ul.tags-line__tags.tags
					li.tags__item
						a.tags__btn(href="#", style="background-color: #99cee9; border-color: #99cee9;")
							| Театр
					li.tags__item
						a.tags__btn(href="#", style="background-color: #80a9db; border-color: #80a9db;")
							| Кино
					li.tags__item
						a.tags__btn(href="#", style="background-color: #ea9aa1; border-color: #ea9aa1;")
							| Музыка
					li.tags__item
						a.tags__btn(href="#", style="background-color: #e5bf7e; border-color: #e5bf7e;")
							| Искусство
					li.tags__item
						a.tags__btn(href="#", style="background-color: #dfb05e; border-color: #dfb05e ;")
							| Литература
					li.tags__item
						a.tags__btn(href="#", style="background-color: #7d8db2; border-color: #7d8db2;")
							| История
					li.tags__item
						a.tags__btn(href="#", style="background-color: #f0717d; border-color: #f0717d ;")
							| Праздники
					li.tags__item
						a.tags__btn(href="#", style="background-color: #68d3fb; border-color: #68d3fb;")
							| Дети
					li.tags__item
						a.tags__btn(href="#", style="background-color: #7da7da; border-color: #7da7da;")
							| Разное