doctype html
html
	head
		include jade/head.jade
		title ОКультуренно | Статья
	body
		include jade/header.jade
		include jade/article-wallpaper.jade
		include jade/article.jade
		include jade/article-comments.jade
		include jade/article-articles-list.jade
		include jade/tags-line.jade
		.tags-line--empty
		include jade/distribution.jade
		include jade/foo.jade
		include jade/drop.jade
		include jade/scripts.jade