doctype html
html
	head
		include jade/head.jade
		title ОКультуренно | Главная
	body
		include jade/header.jade
		include jade/articles-wallpaper.jade
		include jade/articles.jade
		include jade/comments.jade
		include jade/articles-list.jade
		include jade/affiche-filter.jade
		include jade/tags-line-2.jade
		include jade/tags-line.jade
		include jade/distribution.jade
		include jade/foo.jade
		include jade/drop.jade
		include jade/scripts.jade
