doctype html
html
	head
		include jade/head.jade
		title ОКультуренно | Авторы
	body
		include jade/mixins.jade
		include jade/header.jade
		include jade/wallpaper/authors.jade
		include jade/tags-and-social.jade
		include jade/authors.jade
		include jade/special.jade
		include jade/foo.jade
		include jade/drop.jade
		include jade/scripts.jade