doctype html
html
	head
		include jade/head.jade
		title ОКультуренно | Авторы
	body
		include jade/header.jade
		include jade/authors-wallpaper.jade
		include jade/tags-and-social.jade
		include jade/authors.jade
		include jade/special.jade
		include jade/distribution-no-up.jade
		include jade/foo.jade
		include jade/drop.jade
		include jade/scripts.jade