doctype html
html
	head
		include jade/head.jade
		title ОКультуренно | Автор. Детально
	body
		include jade/header.jade
		include jade/author-wallpaper.jade
		include jade/author.jade
		include jade/comments.jade
		include jade/articles-list.jade
		include jade/tags-line.jade
		.tags-line--empty
		include jade/distribution.jade
		include jade/foo.jade
		include jade/drop.jade
		include jade/scripts.jade