doctype html
html
	head
		include jade/head.jade
		title ОКультуренно | Главная
	body
		include jade/mixins.jade
		include jade/header.jade
		include jade/wallpaper/affiche.jade
		include jade/poster.jade
		include jade/comments.jade
		include jade/tags-and-social-dark.jade
		include jade/poster-maps.jade
		include jade/poster-filter.jade
		include jade/affiche-small.jade
		include jade/event.jade
		include jade/affiche-small-2.jade
		include jade/posts-and-social.jade
		include jade/distribution.jade
		include jade/foo.jade
		include jade/drop.jade
		include jade/scripts.jade
