doctype html
html
	head
		include jade/head.jade
		title ОКультуренно | Новости
	body
		div.reset
			include jade/mixins.jade
			include jade/header.jade
			include jade/main-slider.jade
			include jade/news.jade
			include jade/distribution.jade
			include jade/foo.jade
		include jade/drop.jade
		include jade/scripts.jade