.aside-news.aside-news--dark
	h4.aside-news__title
		| Новости
	.aside-news__items
		.aside-news__group
			a.aside-news__item(href="#")
				.aside-news__item-date
					| 12 ноября 16:20
				.aside-news__item-title
					| Выставка молодых 
					| новгородских  
					| художников открылась 
					| выставка 
					| инструментов
			a.aside-news__item(href="#")
				.aside-news__item-date
					| 10 ноября 13:20
				.aside-news__item-title
					| В Великом Новгороде 
					| вспомнят основателя 
					| Центра музыкальных 
					| древностей 
					| инструментов 
			a.aside-news__item(href="#")
				.aside-news__item-date
					| 10 ноября 13:20
				.aside-news__item-title
					| В Великом Новгороде 
					| вспомнят основателя 
					| Центра музыкальных инструментов инструментов
		.aside-news__group
			a.aside-news__item(href="#")
				.aside-news__item-date
					| 12 ноября 16:20
				.aside-news__item-title
					| Выставка молодых 
					| новгородских  
					| художников открылась 
					| выставка 
					| инструментов
			a.aside-news__item(href="#")
				.aside-news__item-date
					| 10 ноября 13:20
				.aside-news__item-title
					| В Великом Новгороде 
					| вспомнят основателя 
					| Центра музыкальных 
					| древностей 
					| инструментов 
			a.aside-news__item(href="#")
				.aside-news__item-date
					| 10 ноября 13:20
				.aside-news__item-title
					| В Великом Новгороде 
					| вспомнят основателя 
					| Центра музыкальных инструментов инструментов