a(href="#")
	.aside-post.aside-post--dark
		.aside-post__pr
			img(src="images/aside/1.jpg", alt="")
			a.aside-post__tag(style="background-color: #3ad173;", href="#tab")
				| new
		a.aside-post__title(href="#")
			| Аналитический (бес)предел