.aside-social-tabs.aside-social-tabs--white
		ul.aside-social-tabs__list
			li.active
				a.js-social-tab(href="#social-tab-vk")
					span.i-social-vk
			li
				a.js-social-tab(href="#social-tab-fb")
					span.i-social-fb
			li
				a.js-social-tab(href="#social-tab-tw")
					span.i-social-tw
		.aside-social-tabs__contents
			#social-tab-vk.aside-social-tabs__content.active
				img(src="images/other/1.jpg", alt="", style="max-width: 100%")

			#social-tab-fb.aside-social-tabs__content
				img(src="images/other/2.jpg", alt="", style="max-width: 100%")

			#social-tab-tw.aside-social-tabs__content
				img(src="images/other/3.jpg", alt="", style="max-width: 100%")