.aside-social-links.social.social--dark
	.social__title
		| Подписывайтесь:
	ul.social__list
		li.social__item
			a.social__link(href="#")
				span.social-dark__vk
		li.social__item
			a.social__link(href="#")
				span.social-dark__fb
		li.social__item
			a.social__link(href="#")
				span.social-dark__tw
		li.social__item
			a.social__link(href="#")
				span.social-dark__ok
		li.social__item
			a.social__link(href="#")
				span.social-dark__yt
		li.social__item
			a.social__link(href="#")
				span.social-dark__in