.aside-social-tabs.aside-social-tabs--dark
		ul.aside-social-tabs__list
			li.active
				a(href="#social-tab-vk")
					span.i-social-dark-hover-vk
			li
				a(href="#social-tab-fb")
					span.i-social-dark-hover-fb
			li
				a(href="#social-tab-tw")
					span.i-social-dark-hover-tw
		.aside-social-tabs__contents
			#social-tab-vk.aside-social-tabs__content.active
				img(src="images/other/1.jpg", alt="")

			#social-tab-fb.aside-social-tabs__content
				img(src="images/other/2.jpg", alt="")

			#social-tab-tw.aside-social-tabs__content
				img(src="images/other/3.jpg", alt="")