.article-wallpaper(style="background: url(images/wallpaper/article.jpg) center center / cover;")
	.container
		.row
			.col-xs-12
				.article-wallpaper__margin
					.article-wallpaper__tags
						a.article-wallpaper__tag(href="#", style="border-color: #dfb33e")
							| Путешествия: 
					.article-wallpaper__title
						a.link-reverse(href="#rubric")
							| Заметки:
						|  Леса Норвегии