.articles-wallpaper(style="background: url(images/wallpaper/articles.jpg) center center / cover;")
	.container
		.row
			.col-xs-12
				.articles-wallpaper__margin
					.articles-wallpaper__tags
						a.articles-wallpaper__tag(href="#", style="border-color: #d34d59")
							| Музыка,
						| 
						a.articles-wallpaper__tag(href="#", style="border-color: #3ad173;")
							| Искусство
					.articles-wallpaper__name
						| Алхимия звука