.authors-wallpaper(style="background: url(images/wallpaper/authors.jpg) center center / cover;")
	.container
		.row
			.col-xs-6
				.authors-wallpaper__content
					h1.authors-wallpaper__title
						| Авторы
			.col-xs-6
				.authors-wallpaper__content.authors-wallpaper__content--right
					.authors-wallpaper__text
						| Каждый пишет, как он слышит,
						br
						| Каждый слышит, как он дышит,
						br
						| Как он дышит, так и пишет,
						br
						| Не стараясь угодить...
						.authors-wallpaper__author
							| (Булат Окуджава)